#menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0vh;
    left: 0vw;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 0 #000, 3px 3px 0 #00ff00;
    line-height: 20px;
}

#start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#doors {
    display: none;
    position: relative;
    justify-content: center;
}

#item {
    display: none;
}

#trap {
    display: none;
}

#battle {
    display: none;
}

#choose-name {
    display: none;
    justify-content: center;
}