html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #2c1446;
    color: #b6a0f2;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
  }

/* startmenu style */

.startMenu {
    display: flex;
}

button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 12px;
    background: #491e78;
    color: #fff;
    border: 2px solid #b6a0f2;
}

button:hover {
    background: #6b38a3;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

.titlescreen {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.title-banner {
    background-color: #3c1c5e;
    border: 4px solid #ff0033;
    padding: 20px 40px;
    text-align: center;
    text-transform: uppercase;
    color: #d8b4ff;
    font-size: 24px;
    text-shadow: 2px 2px #000;
    box-shadow: 0 0 10px #291241;
}

.scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 3px
    );
    pointer-events: none;
    z-index: 2;
    animation: flicker 0.2s infinite;
  }

  @keyframes flicker {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
  }

/* startmenu style */

/* game style */

#menu {
  display: none;
  position: absolute;
  color: white;
  margin: 20px;
}

#gameCanvas {
    display: none;
    width: 100vw;
    height: 100vh;
}

/* game style */