body {
    display: flex;
    justify-content: center;
}

div {
    box-shadow: 0 0 15px red;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.container {
    width: 100vh;
    height: 60vh;
}