* {
    box-sizing: border-box;
    box-shadow: 0 0 15px red;
}

body {
    cursor: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: white;
}

.custom-cursor {
    position: absolute;
    width: 32px;
    height: 32px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: #21ce21be;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #00ff00;
    text-align: center;
    image-rendering: pixelated;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.2s all ease-in-out;
    border-radius: 5px;
    cursor: none;
}

button:hover {
    transform: scale(1.1);
}

@keyframes doorHover {
    0% {
        content: url("img/door/closed.png");
    }
    50% {
        content: url("img/door/slightly_opened.png");
    }
    100% {
        content: url("img/door/opened.png");
    }
}

.door {
    height: 55vh;
    transition: transform 0.2s ease-in-out;
}

.door:hover {
    animation: doorHover 0.4s forwards; /* Play the animation on hover */
    transform: scale(1.025); /* Slight zoom effect */
}

#start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#doors {
    display: none;
}

#item {
    display: none;
}

#trap {
    display: none;
}

#battle {
    display: none;
}

#user-input:hover {
    cursor: none;
}

#choose-name {
    display: none;
    justify-content: center;
}

#user-input {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #21ce21be;
    background-color: #000;
    border: 2px solid #21ce21be;
    padding: 10px;
    width: 300px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 10px #21ce21be;
    transition: box-shadow 0.3s ease-in-out;
}

#user-input:focus {
    box-shadow: 0 0 20px #00ff00;
}

#user-input::placeholder {
    color: #555;
    font-size: 14px;
}

.game {
    display: block;
}