* {
    box-sizing: border-box;
}

body {
    cursor: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: white;
}

.custom-cursor {
    position: absolute;
    width: 32px;
    height: 32px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: #21ce21be;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #00ff00;
    text-align: center;
    image-rendering: pixelated;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.2s all ease-in-out;
    border-radius: 5px;
    cursor: none;
}

button:hover {
    transform: scale(1.1);
}

.door {
    height: 60vh;
    transition: transform 0.2s ease-in-out;
}

.door:hover {
    content: url("img/opened_door.png");
    transform: scale(1.025);
}

#start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#doors {
    display: none;
}

#item {
    display: none;
}

#trap {
    display: none;
}

#battle {
    display: none;
}

#menu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
}

#menu:hover {
    left: 0
}

#menu h3 {
    margin-top: 0;
    font-size: 18px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    margin: 10px 0;
}

#menu ul li:hover {
    text-decoration: underline;
}